.grupos{
    border: 1px solid black;
    border-radius: 12px;
    width: 520px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: keep-all;
}

.imagenes > img{
    float:left;
}